* {
    box-sizing: border-box;
    font-size: 14px;
    // font-family: 宋体,serif;
   font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","微软雅黑",Arial,sans-serif;// cursor: default;
    user-select: none;
}

td,.cell{
    user-select: text;
    text-align: center;
}


.el-dialog--tiny {
    min-width: 480px;
}

.el-dialog--small {
    min-width: 760px;
}

.el-select__tags{
    max-height:30px;
    overflow:auto;
}
/*表格控制换行*/

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
input,
legend,
li,
ol,
p,
pre,
span a,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    min-width: 1024px;
    // border:1px solid #000;
    // min-width: 64px;
    min-height: 668px;
    // overflow:hidden;
    overflow-x: hidden;
}

body,
button,
input,
select,
textarea {
    font: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
}

small {
    font-size: 9pt;
}

ol,
ul {
    list-style: none;
}

a {
    color: #333;
}

a,
a:hover {
    text-decoration: none;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

article,
aside,
audio,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
nav,
section,
summary,
time,
video {
    display: block;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tc {
    text-align: center;
}

.t_r {
    text-align: right;
}

.t_l {
    text-align: left;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    background-color: #fff;
}
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar:horizontal{
    width:18px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    margin: 10px;
    width: 8px;
    height: 18px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 1px solid #fff;
    -webkit-border-radius: 4px;
    background-color: #999;
}
::-webkit-scrollbar-thumb:horizontal{
    border-top: 9px solid #fff;
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    // background:red;
}
::-webkit-scrollbar-thumb:hover {
    width: 8px;
    height: 50px;
    -webkit-border-radius: 18px;
    border: 1px solid #fff;
    background-color: #9f9f9f;
    // background-color:red;
}

.mlem{
    margin-left: 1em !important;
}
.el-tabs__content {
    height: 100%;
}
.start_using{
  color:rgb(0, 153, 51);
  margin-bottom: 0px !important;
}
.hand{
    cursor:pointer;
}
.table td{
    text-align:center;
}
.mt10 {
    margin-top: 10px;
}
